build/
out/
/scripts/1/
.deps/
.wix/
.vs/
.vscode/
.DS_Store
*.obj
*.exe
*.pdb
*.ilk
*.log
*.msi
*.pyc
.env
images/
scripts/.signing_sha1
CMakePresets.json

# Website
website/node_modules/
website/dist/
